
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'MyriadPro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-wrap: wrap;

  background: url('../img/pattern.jpg');
  background-repeat: repeat;
  background-size: cover;

  max-width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

/* 
@font-face {
  font-family: 'BobbyJonesSoft';
  src: url('../font/BobbyJonesSoft.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6, p, span, a, button, input, textarea, select {
  font-family: 'BobbyJonesSoft', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
 */


